<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Analysis Situs: CAD model inspection and prototyping open-source software</title>
  <link rel="shortcut icon" type="image/png" href="./imgs/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="./css/situ-main-style.css">

  <!-- [begin] Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112292727-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112292727-2');
  </script>
  <!-- [end] Google Analytics -->

 </head>
<body>

<table width="100%"><tr><td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
  <td align="left" class="header">
    <span class="header-logo">Analysis&nbsp;Situs</span> &nbsp; ./.
  </td>
</tr>
</table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
  <td class="header-menu"><a href='http://quaoar.su/blog/page/analysis-situs'>Download</a></td>
  <td class="header-menu"><a href="./features.html">Features</a></td>
  <td class="header-menu"><a href="https://gitlab.com/ssv/AnalysisSitus">Source code</a></td>
  <td class="header-menu"><a href="./references.html">References</a></td>
  <td class="header-menu"><a href="http://quaoar.su/blog/contact">Ask for support</a></td>
</tr>
</table>
</td></tr></table>

<p>
This is a home web-site for Analysis Situs software.
</p>

<h1>Get started</h1>

<ul>
  <li><a href='http://quaoar.su/blog/page/analysis-situs'>Download</a> on blog.
  <li>Check out the source code <a href='https://gitlab.com/ssv/AnalysisSitus'>on GitLab</a>.
  <li>Read our public paper <a href="https://www.researchgate.net/publication/319078392_CAD_model_inspection_utility_and_prototyping_framework_based_on_OpenCascade">on ResearchGate</a>.
  <li>Discover the <a href="./features.html">available features</a> of the software.
</ul>

<h1>What is Analysis Situs?</h1>

<p>
Analysis Situs is an open-source, extensible software which assists in the
development of CAD geometric algorithms based on Boundary Representation (B-Rep)
data structures. The software is coupled with OpenCascade library which is an open-source
geometric modeling kernel offering a broad range of modeling operators for the development
of multipurpose CAD systems and utilities. Analysis Situs serves as a framework for constructing
geometric modeling algorithms. Additionally, Analysis Situs offers some advanced facilities for
inspection of geometric and topological structures of existing CAD parts (hence the name
"Analysis Situs") which can be imported from any popular CAD system.
</p>

<div align="center">
  <img src="./imgs/inspection.gif"/>
</div>

<p>
We believe that CAD community lacks open-source software which could bridge the gap between academic researchers and industry.
Also, such software should contribute to practicing "open science" in the field of industrial geometric modeling.
</p>

<blockquote class="quote">
"Free access to code is necessary for meeting the gold standard of scientific reporting: A study's tools and methods
must be described clearly enough for its results to be replicated. Only the original code provides enough detail
for replication. Pseudocode of an algorithm is insufficient. Software that does not meet the minimal standard of
freely available code should not be considered a scholarly contribution." <a href="./references.html#hafer-kirkpatrick-2009">[Hafer and Kirkpatrick, 2009]</a>
</blockquote>

<p>
As mentioned in the cited article, posting unmaintained, undocumented and not well-engineered code is not a scholarly contribution. The purpose
of this web-site is to provide all necessary interfaces to Analysis Situs as a reliable, documented and maintained software.
</p>

<h1>Cite us</h1>

<p>The following paper (<a href="https://www.researchgate.net/publication/319078392_CAD_model_inspection_utility_and_prototyping_framework_based_on_OpenCascade">full text available</a>) puts the software into a more scientific context:</p>

<div class="citeus">
<tt>Slyadnev, S., Malyshev, A., and Turlapov, V. 2017. CAD model inspection utility and prototyping framework based on OpenCascade. GraphiCon 2017, 323-327.</tt>
</div>

<p>BibTeX entry:</p>

<div class="bibtex"><pre>@conference{slyad:asitus,
  title={{CAD model inspection utility and prototyping framework based on OpenCascade}},
  author={Slyadnev, Sergey and Malyshev, Alexander and Turlapov, Vadim},
  booktitle={GraphiCon'17 proceedings},
  pages={323-327},
  year={2017}
}</pre></div>

<h1>Addendum</h1>

<ul>
  <li>Our software is distributed under the <a href="./license.html">3-clause BSD license</a>.
  <li>We use open source components. The full list is <a href="./acknowledgments.html">here</a>.
  <li>And here is a <a href="./history.html">brief history</a>.
  <li>Contact us using the <a href="http://quaoar.su/blog/contact">form on the blog</a>.
  <li>Read our <a href="./faq.html">Frequently Asked Questions</a>.
  <li>Read our <a href="./stories/stories.html">Gallery of Stories</a>.
  <li>Familiarize yourself with the <a href="./terminology.html">terminology</a>.
</ul>

</body>
</html>
